<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div id="home">
        <div id="header">
            <h3>goodweeds</h3>
        </div>

        <div id="description">
            <span>is simply dummy text of the printing and typesetting industry.</span>
            <span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>
        </div>

        <div id="formSection" class="boxBorder">
            <div id="form">
                <form action="/login" method="post">
                    <div class="mb-3">
                        <input type="text" name="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="username">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                            placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary buttoBorder">Login</button>
                </form>
            </div>

            <div id="newUser">
                <h3>New User</h3>

                <a href="/signup">
                    <button type="button" class="btn btn-primary buttoBorder">Sign Up</button>
                </a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>