<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>

<body>

  <!-- header  -->
    <div id="allReviewSection" class="d-flex flex-column gap-3">

            <div id="revSec">
                <form action="/postReview" method="post" class="postReview">
                    <div id="postRev">
                        <div id="postRevHead" class="wgBorder">
                            <h5>Thoughts? Write'em here.</h5>
                        </div>

                  <div>
                    
                            <input type="text" name="title" id="srain_title" class="wgBorder"
                                placeholder="Which strain are you reviewing?" required>

                          </div>

                        </div>

                        <div id="postRatingMainDiv" class="buttonrow">
                            <button type="button" class="ratebutton">1</button>
                            <button type="button" class="ratebutton">2</button>
                            <button type="button" class="ratebutton">3</button>
                            <button type="button" class="ratebutton">4</button>
                            <button type="button" class="ratebutton">5</button>
                        </div>

                        <div id="user_review">
                            <textarea name="desc" id="postRevInpDesc" class="wgBorder" cols="40" rows="10"
                                placeholder="Write your review here, my dude." required></textarea>
                        </div>

                        <div id="subBtnMainDiv">
                            <div id="subBtnDiv">
                                <button type="submit" id="subBtn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/submitReview.js"></script>

  </body>

</html>



