/* Common CSS */
.boxBorder {
    border: 2px solid rgb(198, 199, 199) !important;
}

.buttoBorder {
    border: rgb(13, 68, 31) !important;
}

button {
    background-color: rgb(13, 68, 31) !important;
    color: antiquewhite !important;
}

.signupFormDiv {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.label {
    flex-basis: 13rem !important;
    font-size: 20px !important;
    font-weight: 500;
}

.bgWhite {
    background-color: white !important;
}

.wgBorder {
    border: 2px solid rgb(226, 225, 225) !important;
}

#header {
    display: grid;
    justify-items: center !important;
    font-size: 3rem !important;
    font-weight: 600;
}

/* VerifyAge Page CSS */
#verifyAge{
    display: grid;
    margin-top: 10% !important;
    justify-content: center !important;
}

#radioBtnDiv {
    margin-left: 15% !important;
    margin-top: 15% !important;
}

#verifyAge form {
    padding: 25px;
}

#verifyAge form button {
    margin-left: 40% !important;
}

/* Signup Page CSS */
#signupForm {
    padding: 4% 5%;
    margin-top: 1% !important;
}

#signupForm form input {
    width: 125% !important;
}

#signupForm form button {
    margin-left: 33% !important;
    margin-top: 7% !important;
}

/* Style allREviews page */
#allReviewSection {
    margin: 3% 10%;
}

#allReviews {
    display: grid;
    justify-items: center;
}

#head {
    padding: 5px 60px !important;
    padding-top: 10px !important;
}

#revSec {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;
}

#postRev {
    display: grid;
    gap: 15px;
    /* justify-items: center; */
}

#postRevHead {
    padding: 5px 60px !important;
    padding-top: 10px !important;
}

#postRevInpTitle {
    width: 100%;
    padding: 10px 0px !important;
}

#postRatingMainDiv {
    display: grid;
    justify-items: center;
}

#postRating i {
    color: rgb(30, 96, 62) !important;
    cursor: pointer;
}

#subBtnMainDiv {
    display: grid;
    justify-items: center;
}

#subBtn {
    border: none;
    color: white;
    background-color: rgb(30, 96, 62) !important;
    padding: 10px 20px;
    border-radius: 5px;
}

#showAllRev {
    grid-column: span 2 / span 2;
    display: grid;
    gap: 20px;
}

.oneRev {
    max-width: 600px;
    padding: 20px 20px !important;

}

/* Styles for Landing Page */

#home {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5% auto !important;
}

#description {
    display: flex;
    flex-direction: column;
}

#formSection {
    padding: 4% 10%;
    margin-top: 3% !important;
}

#formSection form button {
    margin-left: 33% !important;
    margin-top: 7% !important;
    margin-bottom: 10% !important;
}

#newUser h3 {
    margin-left: 20% !important;
    margin-top: 5% !important;
}

#newUser button {
    margin-left: 30% !important;
    margin-top: 7% !important;
}


/* *profile CSS */

.profileBox {
  border:solid 1px rgb(13, 68, 31);
  margin: 1%;
  padding: 2%;
  border-radius: 6px;
  height: 400px;
  display: flexbox;
  flex-wrap: wrap;
  }
  
  /* style tab */
  .tab {
    overflow: hidden;
    background-color: rgb(13, 68, 31);
  }
  
  /* style buttons used to open tab content */
  .tabButton {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    border-color: antiquewhite;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: antiquewhite;
    border-radius: 5px;
    padding-inline: 4%;
  }
  
  /* Change background color of buttons on hover */
  .tabButton:hover {
    background-color: grey !important;
  }

  /* Change tab color when active */
  .tabButton.active {
    background-color: #2d6a4f !important;
  }
  
  /* Style myFavorite content tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .buttondiv {
    display: block;
    width: 800px;
  }
  
  .tabready{
    height: 500px;
  }